body {
  background: url('./media/bg.jpeg');
}

input {
  margin-left: 1vw;
  padding: 0.3vw;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: vertical;
  font-family: 'Open Sans', sans-serif;
}

select {
  margin-left: 1vw;
  padding: 0.3vw;
  font-family: 'Open Sans', sans-serif;
}

hr {
  width: 80%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-top: 2px solid rgb(51, 67, 152);
  border-bottom: 1px solid rgba(51, 67, 152, 0.53);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45vw;
  background-color: rgba(255, 255, 255, 0.70);
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  border: 2px solid white;
  border-radius: 0 0 10px 10px;
}

.topcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 45vw;
  height: 15vh;
  background-color: rgb(51, 67, 152);
  color: white;
  font-size: 135%;
  border: 2px solid #012184;
  border-radius: 10px 10px 0 0;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rowtab {
  width: 100%;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.rowtabextra {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 1vh;
}

.lefttab {
  text-align: end;
  width: 50%;
  padding-right: 10px;
}

.righttab {
  flex-grow: 1;
}

.radiobox {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.input-field {
  margin-left: 1vw;
  padding: 0.3vw;
  flex-grow: 1;
}

.botarea {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toparea {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 130%;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1vw;
}

.submitbutton {
  background-color: rgb(51, 67, 152);
  color: white;
  border: 2px solid rgba(1, 33, 132, 0.00);
  padding: 1vh 1.5vw 1vh 1.5vw;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.submitbutton:hover {
  animation-name: transparent;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes transparent {
  100% {
    background-color: rgba(51, 67, 152, 0.00);
    border: 2px solid #012184;
    color: #012184;
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  .rowtab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .lefttab {
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
    margin-right: 0;
    width: 80%;
  }
  .righttab {
    display: flex;
    justify-content: center;
    margin-left: 0;
    width: 80%;
  }
  .questions {
    margin-right: 0;
  }
}