body {
  background: url('./media/bg.jpeg');
}

input {
  margin-left: 1vw;
  padding: 0.3vw;
}

textarea {
  resize: vertical;
}

select {
  margin-left: 1vw;
  padding: 0.3vw;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45vw;
  background-color: rgba(255, 255, 255, 0.70);
  font-family: 'Open Sans', sans-serif;
  border: 2px solid white;
  border-radius: 10px;
}

.topcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 45vw;
  height: 15vh;
  background-color: rgb(25, 46, 157);
  color: white;
  border: 2px solid #012184;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.rowtab {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 1.5vh;
}

.rowtabextra {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1vh;
}

.lefttab {
  text-align: right;
  width: 20vw;
  margin-right: 1vw;
}

.righttab {
  text-align: left;
  width: 20vw;
}

.radiobox {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.input-field {
  margin-left: 1vw;
  padding: 0.3vw;
}

.botarea {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}